<h2>Componente de interface de {{ nombre }}</h2>
<h3 *ngIf="mostrar_retro != true">El mejor juego es : {{ nombre_mejor_juego }}</h3>
<h3 [style.background]=color_background *ngIf="mostrar_retro === true">El mejor juego retro es : {{ nombre_mejor_juego_retro }}</h3>
<h2>Listado de video juegos</h2>
<ul>
    <li *ngFor="let game of videojuegos">{{ game }}</li>
</ul>